html {
	height: 100%;
	
}
body{
	width: 100%;
	height: 100%;
	background-image: url("youtube.jpg");
	background-repeat: no-repeat;	
	background-position:center;
	background-size: cover;
	background-attachment: fixed;
	
  


}

.title-holder {
	padding: 1rem;
}	

.title-holder .title {
	font-size: 4rem;
	text-color:#white;
	align: left;
}

.login-holder {
	padding: 1.75rem;

	/* Centers input */
	display: flex;
	flex-direction: column;
   	align-items: center;
	justify-content: center;
}

.hacker-button {
	font-family: Bookman Header;
	font-size: 1rem;
	display: inline-block;
	color: #white;
	padding: 0.3rem;
}

.hacker-button:hover {
	cursor: pointer;
	color: black;
	background-color: grey;
	align:left;
}

#login {
	margin-bottom: 0.5rem;
	text-align: center;
	width: 600px;
}