
<div>Logged in as {{ getUserDisplayName() }}</div>
<br></br>

<a href=""></a>
<br></br>
<img src="tswift.jpg"  style="width:200px;height:128px;"/>


<a href="https://www.youtube.com/user/VEVO">Music Videos on VEVO</a>
<br></br>

<img src="cnn.jpg" style="width:200px;height:128px;">

<a href="https://www.youtube.com/watch?v=6bfPjwOErWo">CNN Live Stream</a>
<br></br>

<img src="movies.jpg" style="width:200px;height:140px;"/>



<a href="https://www.youtube.com/channel/UClgRkhTL3_hImCAmdLfDE4g">Youtube Movies</a>
<br></br>

<img src="Studio_C_cast.jpg" style="width:200px;height:150px;"/>


<a href="https://www.youtube.com/user/BYUTelevision">Studio C Videos</a>
<br></br>

<img src="divine.png"  style="width:200px;height:140px;"/>


<a href="https://www.youtube.com/user/BYUDivineComedy">Divine Comedy Videos</a>
<br></br>

<img src="babybum.jpg"  style="width:200px;height:128px;"/>

<a href="https://www.youtube.com/user/LittleBabyBum">Children Rhymes</a>



<div id="logout-holder">
	<div class="hacker-button" ng-click="logout()">Logout</div>
